* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #fe1717;
}
h2 {
  background: #fe1717;
  padding: 18px;
  color: #ffffff;
}
.App {
  padding: 30px;
  background: #fff;
  width: 80%;
  margin: 50px auto;
  box-shadow: 1px 2px 5px #e8e8e8;
}
input {
  outline-color: #d9534f;
  width: 80%;
  border: 0;
  padding: 6px 10px;
  background: #e8e8e8;
}
button {
  width: 20%;
  padding: 6px 0px;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: bold;
  background: #4dc55b;
}
ul {
  list-style: none;
}
li {
  margin: 15px 0;
}
li span {
  width: 60%;
  display: inline-block;
  color: #6a6a6a;
}
li > button:first-of-type {
  background: #6a6a6a;
  margin-right: 1px;
  color: #fff;
  width: 19%;
}
li > button:last-of-type {
  color: #fff;
  background: #d9534f;
}
ul > form {
  margin: 15px 0px;
}
